<a
  [routerLink]="route()"
  class="bg-white rounded-xl shadow-md p-5 sm:p-6 hover:shadow-lg transition-all duration-200 hover:-translate-y-1 group"
>
  <div
    [class]="
      'w-12 h-12 ' +
      getQuickAction?.bgColor +
      ' rounded-xl flex items-center justify-center mb-4 group-hover:scale-110 transition-transform'"
  >
    <svg
      [class]="'w-6 h-6 ' + getQuickAction?.iconColor"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        [attr.d]="getQuickAction?.icon"
      />
    </svg>
  </div>
  <h3
    class="text-base sm:text-lg font-semibold text-gray-800 mb-1 group-hover:text-rose-500 transition-colors"
  >
    {{ title() }}
  </h3>
  <p class="text-sm text-gray-500">{{ description() }}</p>
</a>
