<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout_email_container :: layout(~{::frg_mensaje_bienvenida})}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div th:fragment="frg_mensaje_bienvenida">
    <h2 class="text-xl font-serif text-gray-800 mb-4" th:text="${fullName}"></h2>
    <p class="mb-6">
        Nos alegra informarte que tu cuenta fue registrada exitosamente, recibiras otro correo para hacer la
        confirmación de tu cuenta.
    </p>
</div>
</body>
</html>