DB_URL=postgresql://localhost:5432/db_name
DB_USER=postgres
DB_PASS=postgres123
JWT_SECRET_KEY=your_key
JWT_SECRET_TEMPORARY_KEY=your_key
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=email@domain.com
EMAIL_PASS=email123
EMAIL_FORM_ORIGIN=email@domain.com
CORS_ALLOWED_ORIGINS=http://localhost:3000