<div class="min-h-screen bg-linear-to-br from-rose-50 via-pink-50 to-amber-50 flex flex-col justify-center px-0 ">
<app-header
  [appName]="'My Wedding App'"
  [navItems]="[
    { label: 'Inicio', route: '/app' },
    { label: 'Bodas', route: '/app/weddings' },
    { label: 'Eventos', route: '/app/events' },
    { label: 'Invitaciones', route: '/app/invitations' },
    { label: 'Calendario', route: '/app/calendar' }
  ]"
  [showLogout]="true"
  [logoutText]="'Cerrar Sesión'"
  [logoUrl]="'logo.png'"
  (logoutClicked)="onLogout()"
  (navItemClicked)="onNavigate($event)"
/>

<router-outlet />
<app-footer/>
</div>

